<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= stylesheet_link_tag 'subClubsStyles', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <h2><%= club.Club_Name %></h2>
        <p>Budget: RM <%= number_to_currency(club.Budget, unit: "", delimiter: ",", precision: 2) %></p>
        <p>Parent Club: <%= club.parent_club&.Club_Name || "N/A" %></p>

        <div class="actions">
            <%= link_to "Edit Club", edit_club_path(club), class: "btn btn-primary" %>
        </div>
    </div>
</body>

</html>