<div class="container">
    <h1>All Clubs</h1>
    <table>
        <thead>
            <tr>
                <th>Club ID</th>
                <th>Club Name</th>
                <th>Is Super Club</th>
                <th>Parent Club</th>
                <th>Budget</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <% @clubs.each do |club| %>
            <tr onclick="window.location='<%= edit_club_path(club) %>'" style="cursor: pointer;">
                <td><%= club.Club_ID %></td>
                <td><%= club.Club_Name %></td>
                <td><%= club.Is_Super_Club %></td>
                <td><%= club.parent_club&.Club_Name %></td>
                <td><%= club.Budget %></td>
                <td><%= club.Created_At %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>