<header>
  <%= image_tag 'back-icon.svg', alt: 'Back' %>
  <div class="search-bar">
    <%= form_with url: equipments_path, method: :get, local: true, class: "search-form" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search equipment...", class: "search-input" %>
  </div>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  <%= image_tag 'user-icon.svg', alt: 'User' %>
</header>

<div class="container">
  <div class="sort">
    <span>Sorted by Availability</span>
    <span>
      <%= image_tag 'filter-icon.svg', alt: 'Filter', style: 'width: 44px;' %>
    </span>
  </div>
  <% if @unique_equipments.present? %>
    <!-- Cards with equipment having non-zero quantity and available status -->
    <div class="cards">
      <% @unique_equipments.each do |equipment| %>
        <% available_equipment_count = @equipment.where(Equipment_Name: equipment.Equipment_Name, Status: 'Available').size %>
        <% if available_equipment_count > 0 %>
          <div class="card">
            <div class="card-content">
              <div class="card-title"><%= equipment.Equipment_Name %></div>
              <div class="quantity">Quantity: <%= available_equipment_count %>/<%= @equipment.where(Equipment_Name: equipment.Equipment_Name ).size %></div>
            </div>
            <%= link_to image_tag('arrow-icon.svg'), group_items_path(equipment.Equipment_Name), class: "more-link" %>
          </div>
        <% end %>
      <% end %>
      <!-- "+" card to open the modal -->
      <div class="card add-card">
        <%= link_to image_tag('plus-icon.svg'), new_equipment_path, id: "open-overlay", class: "add-link" %>
      </div>
    </div>

    <hr>

    <!-- Cards with equipment having zero quantity or unavailable status -->
    <div class="cards">
      <% @unique_equipments.each do |equipment| %>
        <% available_equipment_count = @equipment.where(Equipment_Name: equipment.Equipment_Name, Status: 'Available').size %>
        <% if available_equipment_count == 0 %>
          <div class="card">
            <div class="card-content">
              <div class="card-title"><%= equipment.Equipment_Name %></div>
              <div class="quantity">Unavailable</div>
            </div>
            <%= link_to image_tag('arrow-icon.svg'), group_items_path(equipment.Equipment_Name), class: "more-link" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p style="text-align:center;">No group found.</p>
    <!-- "+" card to open the modal -->
    <div class="card add-card">
      <%= link_to image_tag('plus-icon.svg'), new_equipment_path, id: "open-overlay", class: "add-link" %>
    </div>
  <% end %>
</div>

<div class="overlay" id="overlay" style="display: none;">
  <div class="overlay-content">
    <h1>Add New Equipment</h1>
    <!-- Dynamic content (the form) will be loaded here -->
    <div id="overlay-form-content">
      <!-- Placeholder for form -->
    </div>
    <button id="close-overlay">Cancel</button>
  </div>
</div>

<div class="footer">
  <div class="btn active">
    <%= link_to "Equipment", equipments_path, class: "move-link active" %>
  </div>
  <div class="btn">
    <%= link_to "Borrow", vendors_path, class: "move-link" %>
  </div>
  <div class="btn">
    <%= link_to "Vendor", vendors_path, class: "move-link" %>
  </div>
</div>