<h1><%= @equipment.Equipment_Name %></h1>
<p>Receipt: <%= @equipment.Financial_Record_Id %></p>
<p>Club: <%= @equipment.Club_ID %></p>
<p>Vendor: <%= @equipment.Vendor_ID %></p>

<ul>
  <li><%= link_to "Edit", edit_equipment_path(@equipment), id: "open-overlay" %></li>
  <li><%= link_to "Delete", equipment_path(@equipment), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "Back", group_items_path(@equipment.Equipment_Name) %></li>
</ul>

<div class="overlay" id="overlay" style="display: none;">
  <div class="overlay-content">
    <h1>Edit Equipment</h1>
    <!-- Dynamic content (the form) will be loaded here -->
    <div id="overlay-form-content">
      <!-- Placeholder for form -->
    </div>
    <button id="close-overlay">Cancel</button>
  </div>
</div>