<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Vendor</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
<header>
</header>

<main>
  <div class="overlay" id="overlay">
    <div class="overlay-content">
      <h1>Add New Vendor</h1>
      <%= form_with model: @vendor, url: vendors_path do |form| %>
        <div>
          <%= form.text_field :Name, placeholder: "Vendor Name" %>
          <% @vendor.errors.full_messages_for(:Name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.text_field :Phone_Number, placeholder: "Phone Number" %>
          <% @vendor.errors.full_messages_for(:Phone_Number).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.text_field :Address, placeholder: "Address" %>
          <% @vendor.errors.full_messages_for(:Address).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.submit "Save Equipment", class: "button" %>
        </div>
      <% end %>

      <button onclick="history.back()">Cancel</button>
    </div>
  </div>
</main>
</body>
</html>
