<h1>Edit Financial Record</h1>

<%= form_with model: @financial_record, local: true do |form| %>
  <div>
    <%= form.label :Title, "Name of Item" %>
    <%= form.text_field :Title, required: true %>
  </div>

  <div>
    <%= form.label :Amount %>
    <%= form.number_field :Amount, step: 0.01, required: true %>
  </div>

  <div>
    <%= form.label :vendor_id, "Vendor" %>
    <%= form.collection_select :vendor_id, Vendor.all, :id, :Name, { selected: @financial_record.Vendor_ID } %>
  </div>


  <div>
    <%= form.label :Quantity %>
    <%= form.number_field :Quantity, step: 1, required: true %>
  </div>

  <div>
    <%= form.label :SubClub %>
    <%= form.collection_select :Club_ID, Club.where(Is_Super_Club: false), :id, :Club_Name, { selected: @financial_record.Club_ID } %>
  </div>

  <div>
    <%= form.submit "Update Financial Record" %>
  </div>
<% end %>
