<%= button_to "Add Expense", expense_form_financial_records_path, method: :get %>

<div>
  <%= button_to "Super Club Expenses", super_club_expenses_financial_records_path, method: :get %>
  <%= button_to "Sub-Club Expenses", sub_club_expenses_financial_records_path, method: :get %>
</div>

<!-- Sorting Links -->
<div style="text-align: right; margin-bottom: 10px;">
  <strong>Sort By:</strong>
  <%= link_to 'Amount ▲', expenseDashboard_financial_records_path(sort: 'amount_asc') %>
  <%= link_to '▼', expenseDashboard_financial_records_path(sort: 'amount_desc') %> |
  <%= link_to 'Date ▲', expenseDashboard_financial_records_path(sort: 'date_asc') %>
  <%= link_to '▼', expenseDashboard_financial_records_path(sort: 'date_desc') %>
</div>

<table>
  <thead>
    <tr>
      <th>Name of Expense</th>
      <th>Equipment</th>
      <th>Quantity</th>
      <th>Sub-Club</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @financial_records.each do |record| %>
      <tr>
        <td><%= link_to record.Title, expense_details_financial_record_path(record) %></td>
        <td><%= record.equipment&.Equipment_Name || "N/A" %></td>
        <td><%= record.Quantity %></td>
        <td><%= record.club&.Club_Name || "N/A" %></td>
        <td><%= number_to_currency(record.Amount, unit: "RM") %></td>
        <td><%= record.Created_At.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>