<!DOCTYPE html>
<html>

<head>
    <title>SIMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Include global stylesheets -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <!-- Include page-specific stylesheets -->
    <%= yield :stylesheets %>
</head>

<body>
    <%= yield %>
</body>

</html>